force-app/main/default/flows/Add_Update_Skill_Level.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddNewSkillLevelToRecord</name>
        <label>AddNewSkillLevelToRecord</label>
        <locationX>668</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>NewTopicSkillLevelRecord.Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicBeingEdited.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTopicSkillLevelRecord.Skill_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSkillLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTopicSkillLevelRecord.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserIdFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Topic_Skill_Level_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateTopicSkillLevel</name>
        <label>UpdateTopicSkillLevel</label>
        <locationX>665</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Skill_Level.Skill_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSkillLevel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTopicSkillLevelRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>A current skill level assignment exists</description>
        <name>Skill_Level_Exists</name>
        <label>Skill Level Exists</label>
        <locationX>921</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>Update_Skill_Level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skill Level Assignment Exists</defaultConnectorLabel>
        <rules>
            <name>Skill_Level_Was_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Skill_Level</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Skill_Level</targetReference>
            </connector>
            <label>Skill Level Was Not Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SkillLevelList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>100</limit>
        <object>Skill_Level__c</object>
        <outputAssignments>
            <assignToReference>NewSkillLevel</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>UserIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Add/Update Skill Level {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add/Update Skill Level</label>
    <loops>
        <name>For_Each_Topic</name>
        <label>For Each Topic</label>
        <locationX>469</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>TopicBeingEdited</assignNextValueToReference>
        <collectionReference>GetTopics</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Current_Skill_Level</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Topic_Skill_Level_Record</name>
        <label>Add Topic Skill Level Record</label>
        <locationX>470</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>For_Each_Topic</targetReference>
        </connector>
        <inputReference>NewTopicSkillLevelRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Skill_Level</name>
        <label>Get Current Skill Level</label>
        <locationX>668</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Level_Exists</targetReference>
        </connector>
        <filters>
            <field>Topic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TopicBeingEdited.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Topic_Skill_Level__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Topics to loop through</description>
        <name>GetTopics</name>
        <label>GetTopics</label>
        <locationX>320</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Topic</targetReference>
        </connector>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce Feature</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Topic__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTopicSkillLevelRecord</name>
        <label>UpdateTopicSkillLevelRecord</label>
        <locationX>536</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>For_Each_Topic</targetReference>
        </connector>
        <inputReference>Get_Current_Skill_Level</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Skill_Level</name>
        <label>Add Skill Level</label>
        <locationX>925</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddNewSkillLevelToRecord</targetReference>
        </connector>
        <fields>
            <name>TopicOnAddScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!TopicBeingEdited.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!TopicBeingEdited.Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Skill_Level</name>
            <choiceReferences>SkillLevelList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skill Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Add or Edit your skill level.</description>
        <name>Add_Update_Topic_Skill_Level</name>
        <label>Add/Update Topic Skill Level</label>
        <locationX>177</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetTopics</targetReference>
        </connector>
        <fields>
            <name>lblGetStarted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Use this control to add/update your skills.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Skill_Level</name>
        <label>Update Skill Level</label>
        <locationX>832</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateTopicSkillLevel</targetReference>
        </connector>
        <fields>
            <name>Topic</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!TopicBeingEdited.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!TopicBeingEdited.Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentSkillLevel</name>
            <fieldText>&lt;p&gt;Current Skill Level:  {!Get_Current_Skill_Level.Skill_Level__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Skill_Level</name>
            <choiceReferences>SkillLevelList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Skill Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Add_Update_Topic_Skill_Level</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewSkillLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewTopicSkillLevelRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Topic_Skill_Level__c</objectType>
    </variables>
    <variables>
        <name>TopicBeingEdited</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Topic__c</objectType>
    </variables>
</Flow>
